{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sorts list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Deletedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sort in sorts %}
            <tr>
                <td><a href="{{ path('treenursery_sorts_show', { 'id': sort.id }) }}">{{ sort.id }}</a></td>
                <td>{{ sort.name }}</td>
                <td>{% if sort.deletedAt %}{{ sort.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('treenursery_sorts_show', { 'id': sort.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('treenursery_sorts_edit', { 'id': sort.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('treenursery_sorts_new') }}">Create a new sort</a>
        </li>
    </ul>
{% endblock %}
